@keyframes animate{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
h1,h2{
    font-family: 'Poppins', sans-serif;
}
p,a,h4,form,input,#poruka{
    font-family: 'Raleway', sans-serif;
}
.cistac{
    clear:both;
}
a{
    text-decoration: none;
    color: #fff;
}
#navigacija{
    width:100%;
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color:rgba(0, 0, 0, 0.7);
    padding: 0px 40px;
    z-index: 100;
}
#logo{
    margin-top:5px;
    width:150px;
    height: 50px;
    font-family: 'Roboto Slab', serif;
    display: flex;
    align-items: center;
}
#logo a img{
    width:45px;
    margin-right: 10px;
}
.tekstMeni :hover{
    color:#e2a600;
}
#nav ul,#listaHamburger{
    list-style-type: none; 
    text-align: right;
}
#nav ul li{
    margin-left:4%;
    display:inline; 
}
#nav ul li a,#hamburgerPodMeni{
    
    font-size:18px;
}
#sredina{
    background-image: url('../img/slikaProjekti5.jpg');
    background-position: right;
    background-size: cover;
    width:100%;
    height: 700px;
}
#sredinaNaslov{
    color: #fff;
    font-size: 2.4em;
    padding-top: 150px;
}
.nevidljiv{
    display: none;
}
.vidljiv{
    display:block;
}
#hamburger i{
    color:#d6a400;
}
#hamburgerPodMeni{
    font-size: 20px;
    line-height: 2;
}
#hamburgerPodMeni ul{
    text-align: center;
}
#hamburgerPodMeni a{
    color:#d6a400;
}
#pokazivac{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top:250px;
}
.down{
    color:#fff;
    font-size: 30px;
    animation: animate 1s infinite;
    animation-delay: 1s;
}
#projektiCelina{
    margin: 50px 0px;
}
#projekti{
    width: 100%;
    font-family: 'Roboto Slab', serif;
    
    text-align: left;
    margin: 20px 0px;
}
#projekti h2,#onama h2,#tekstAutor h2{
    font-size: 2.1em;
    margin-bottom: 20px;
}
#projekti p,#onama p,#tekstAutor p{
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.5;
}
.slajderDiv{
    padding-top: 70px;
}
.okvirSlike img{
    width: 100%; 
}
#projektiSlike{
    margin-top: 30px;
}
.projekti{
    width: 400px;
    text-align: center;
}
.projekti img{
    width: 350px;
    margin: 30px 0px;
}
#baner{
    height: 400px;
    background-image: url('../img/slikaPozadina.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#onama{
    margin: 100px 0px;
}
#mapa iframe{
    width:100%;
    height: 350px;
}
#kontaktInfo{
    padding: 50px 0px;
}
.kontaktIkone i{
    font-size: 2.4em;
}
.kontaktNaslovi{
    text-align: left;
}
#forma{
    margin-top: 50px;
    font-size: 19px;
}
#forma input,button{
    width: 90%;
    margin-top: 20px;
    font-size: 19px;
}

#poruka{
    resize: none;
    width: 90%;
    height: 60px;
}
.greskaIspis{
    color: rgb(255, 0, 0);
}
.slikaAutor{
    width: 300px;
}
footer{
    background-color: rgba(0, 0, 0, 0.9);
    color:#fff;
}
.copy{
    background-color: rgba(0, 0, 0, 0.2);
}
#strelicaGore{
    font-size: 50px;
    position: fixed;
    bottom: 50px;
    right:50px;
    color: #d6a400;
    display:none;
}
@media screen and (max-width:900px){
    .okvirSlike{
        width: 90%;
    }
}
@media screen and (max-width:600px){
    h1{
        font-size: 1em;
    }
    #logo{
        padding-left: 0px;
    }
    #sredina{
        height:400px;
    }
    #sredina 
    #pokazivac{
        top: 100px;
        
    }
    #pokazivac a i{
        color:#d6a400;
    }
    #navigacija{
        background-color:rgba(0, 0, 0, 0.6);
    }
    .projekti img{
        width: 180%;
    }
    #formaKontakt,#kontaktBlok{
        padding-left: 10%;
    }
    .slikaAutor{
        width: 250px;
    }
}

